.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 16px;
  gap: 16px;
  font-size: 12px;
  line-height: 24px;

  &__info {
    @extend .center;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    font-size: 18px;
    grid-template-columns: 174px 160px 160px 160px;
    grid-template-rows: 1fr;
    gap: 7px;
    padding: 20px 46px 47px 47px;
    
    &__info:not(:last-child) {
      border-right: 2px solid #9CA4C7;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 300px 47px 300px;

  }
}