html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sen";
}

.center, .button, .footer__info, .contact-us .content, .contact-form-container .contact-form .checkbox-container, .contact-form-container__desc, .team-modal .modal-close, .team-container .team .team-member, .team-container .team .carousel, .video-container, .header .circle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}
.nav__logo {
  margin: 24px 16px;
  width: 56px;
  height: 22px;
  background-image: url("../assets/logo/dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.nav .nav-container {
  display: flex;
  margin-right: 21px;
  justify-content: space-between;
}
.nav .nav-container :not(:last-child) {
  margin-right: 14px;
}
.nav .nav-container__link {
  color: #1C2085;
  font-size: 16px;
  padding: 5px 4px 6px 6px;
  border-bottom: 2px solid transparent;
}
.nav .nav-container__link:hover {
  border-color: #5454D4;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .nav__logo {
    margin: 24px 16px;
    width: 96px;
    height: 39px;
    background-image: url("../assets/logo/Light.png");
  }
  .nav .nav-container {
    margin-right: 12px;
  }
  .nav .nav-container :not(:last-child) {
    margin-right: 31px;
  }
}
@media only screen and (min-width: 1440px) {
  .nav__logo {
    margin-left: 136px;
  }
  .nav .nav-container {
    margin-right: 133px;
  }
  .nav .nav-container :not(:last-child) {
    margin-right: 31px;
  }
}
.header {
  position: relative;
}
.header__bg-svg {
  display: none;
}
.header__background-first {
  background: linear-gradient(85.66deg, #3847B5 41.37%, #253194 97.44%);
  height: 538px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  box-shadow: 0px 11px 106px #2A389D;
}
.header__background-second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #3947B6;
  box-shadow: 0px 11px 106px #2A389D;
  height: 338px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.header__background-third {
  position: absolute;
  width: 436px;
  height: 381px;
  left: -263px;
  top: 90px;
  z-index: 2;
  background: #4250BF;
  border-radius: 20%;
  box-shadow: 0px 4px 130px #263396;
  transform: matrix(-0.96, -0.28, -0.28, 0.96, 0, 0);
}
.header__text {
  color: white;
  position: absolute;
  top: 0;
  z-index: 4;
  margin: 48px 16px 48px 17px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 32px;
}
.header .subscribe-container {
  position: absolute;
  top: 260px;
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header .subscribe-container__text {
  font-size: 14px;
  color: white;
  opacity: 0.7;
}
.header .circle-arrow {
  background: #3543AE;
  border: 1.5px solid rgba(231, 231, 231, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 406px;
  z-index: 4;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 31px;
}
.header .circle-arrow .material-icons {
  font-size: 20px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .header__background-first {
    height: 891px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  }
  .header__background-second {
    height: 546px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 62%);
  }
  .header__background-third {
    width: 759px;
    height: 663px;
    left: -352px;
    top: 82px;
    border-radius: 10%;
  }
  .header__text {
    margin: 48px 120px 74px 79px;
    font-size: 40px;
    line-height: 56px;
    top: 80px;
    letter-spacing: 1px;
  }
  .header .subscribe-container {
    top: 426px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 33px 46px;
  }
  .header .subscribe-container__text {
    font-size: 18px;
    line-height: 26px;
    margin-left: 19px;
    grid-column: 1;
    grid-row: 1;
  }
  .header .circle-arrow {
    width: 60px;
    height: 60px;
    top: 609px;
  }
  .header .circle-arrow .material-icons {
    font-size: 35px;
  }
  .header .input {
    grid-column: 1;
    grid-row: 2;
    width: 515px;
  }
  .header .button {
    grid-column: 2;
    grid-row: 2;
    height: 46px;
    width: 154px;
    padding: 11px 37px;
    margin-top: 11px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__bg-svg {
    display: unset;
    width: 100%;
  }
  .header__background-first {
    display: none;
  }
  .header__background-second {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(15deg);
    width: 1251px;
    height: 700px;
    left: -53px;
    top: -283px;
    border-radius: 85px;
  }
  .header__background-third {
    width: 759px;
    height: 663px;
    left: -108px;
    top: 82px;
    border-radius: 10%;
  }
  .header__text {
    top: 160px;
    left: 57px;
    width: 569px;
  }
  .header .subscribe-container {
    left: 56px;
    top: 504px;
  }
  .header .circle-arrow {
    top: 688px;
  }
  .header .button {
    margin-left: -16px;
  }
}
@media only screen and (min-width: 1441px) {
  .header {
    height: 1000px;
  }
  .header__bg-svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    height: 1200px;
  }
  .header__bg-svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.video-container {
  width: 100%;
  margin: 12px 0;
  position: relative;
}
.video-container .video-template {
  height: 200px;
  width: 288px;
}
.video-container .video-template__content {
  width: 100%;
  height: 100%;
}
.video-container .modal-click {
  background-color: transparent;
  height: 200px;
  width: 288px;
  position: absolute;
  cursor: pointer;
}

.modal-video-container {
  height: 200px !important;
  width: 288px !important;
}
.modal-video-container .video-modal {
  height: 100%;
  width: 100%;
}
.modal-video-container .video-modal__content {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .video-container {
    margin: -7px 0 12px 0;
  }
  .video-container .video-template {
    height: 382px;
    width: 544px;
  }
  .video-container .modal-click {
    height: 382px;
    width: 544px;
  }

  .modal-video-container {
    height: 382px !important;
    width: 544px !important;
  }
  .modal-video-container .video-modal {
    height: 100%;
    width: 100%;
  }
  .modal-video-container .video-modal__content {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .video-container {
    position: absolute;
    top: 195px;
    z-index: 4;
    right: 60px;
    margin: 0;
    width: unset;
  }
  .video-container .video-template {
    height: 382px;
    width: 544px;
  }
  .video-container .modal-click {
    height: 382px;
    width: 544px;
  }

  .modal-video-container {
    height: 382px !important;
    width: 544px !important;
  }
  .modal-video-container .video-modal {
    height: 100%;
    width: 100%;
  }
  .modal-video-container .video-modal__content {
    height: 100%;
    width: 100%;
  }
}
.team-container {
  margin-top: 42px;
}
.team-container__title {
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #1C1F83;
  margin: 0 120px 24px 120px;
  font-family: "Sen";
}
.team-container .team {
  margin-left: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 342px 1fr;
  grid-template-columns: 116px 20px 20px 116px 136px 136px;
  overflow: hidden;
}
.team-container .team__radio {
  height: 8px;
  width: 8px;
  background-color: #C4C4C4;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.team-container .team__radio:checked {
  background-color: #4250BF;
}
.team-container .team .carousel {
  align-items: flex-start;
  grid-row: 1;
  grid-column: 1/6;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 600px;
  --items: 4;
  --middle: 2;
  --position: 2;
}
.team-container .team .carousel .team-member:nth-of-type(1) {
  --offset: 1;
}
.team-container .team .carousel .team-member:nth-of-type(2) {
  --offset: 2;
}
.team-container .team .carousel .team-member:nth-of-type(3) {
  --offset: 3;
}
.team-container .team .carousel .team-member:nth-of-type(4) {
  --offset: 4;
}
.team-container .team input:nth-of-type(1) {
  grid-column: 2;
  grid-row: 2;
}
.team-container .team input:nth-of-type(1):checked ~ .carousel {
  --position: 2;
}
.team-container .team input:nth-of-type(2) {
  grid-column: 3;
  grid-row: 2;
}
.team-container .team input:nth-of-type(2):checked ~ .carousel {
  --position: 4;
}
.team-container .team .team-member {
  margin-left: 12px;
  max-width: 136px;
  flex-direction: column;
  position: absolute;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: translateX(calc(-136px * var(--r)));
}
.team-container .team .team-member__picture {
  height: 115px;
  width: 115px;
  border-radius: 50%;
}
.team-container .team .team-member__name {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: #38A5DB;
}
.team-container .team .team-member__title {
  font-family: "Open Sans";
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
  letter-spacing: 0.26px;
  color: #011226;
  opacity: 0.5;
  text-transform: uppercase;
}
.team-container .team .team-member__desc {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #45515F;
  margin-top: 7px;
  margin-bottom: 14px;
  cursor: pointer;
}
.team-container .team .team-media-container {
  display: flex;
  justify-content: space-evenly;
  width: 103px;
}
.team-container .team .team-media-container .team-media {
  width: 43px;
  height: 23px;
  border: 1px solid rgba(127, 139, 152, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-container .team .team-media-container .team-media .icon {
  color: #001832;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.team-modal {
  margin: 0 16px !important;
  width: 288px;
}
.team-modal .modal-close {
  color: #828282 !important;
  border-radius: 50%;
  border: 1.5px solid #828282;
  padding: 0 !important;
  height: 24px !important;
  width: 24px !important;
}
.team-modal__name {
  font-size: 24px;
  text-align: center;
  color: #38A5DB;
  margin-top: 72px;
}
.team-modal__title {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.26px;
  color: #011226;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 24px 0 32px 0;
}
.team-modal__desc {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #45515F;
  padding: 0 15px;
  margin-bottom: 33px;
}

@media only screen and (min-width: 420px) {
  .team-container .team {
    justify-content: center;
    grid-template-columns: 116px 20px 20px 116px 136px 0px;
  }
  .team-container .team input:nth-of-type(2):checked ~ .carousel {
    --position: 3;
  }
}
@media only screen and (min-width: 768px) {
  .team-container {
    margin-top: 56px;
  }
  .team-container__title {
    width: 80px;
    margin: auto;
    margin-bottom: 23px;
  }
  .team-container .team {
    justify-content: flex-start;
    grid-template-rows: 379px 64px;
    grid-template-columns: 270px 80px 20px 20px 150px 270px 270px;
    margin-left: 15px;
    align-items: flex-end;
  }
  .team-container .team .carousel {
    grid-column: 1/7;
  }
  .team-container .team .carousel .team-member:nth-of-type(1) {
    --offset: 1;
  }
  .team-container .team .carousel .team-member:nth-of-type(2) {
    --offset: 3;
  }
  .team-container .team .carousel .team-member:nth-of-type(3) {
    --offset: 5;
  }
  .team-container .team .carousel .team-member:nth-of-type(4) {
    --offset: 7;
  }
  .team-container .team input:nth-of-type(1) {
    grid-column: 3;
    grid-row: 2;
  }
  .team-container .team input:nth-of-type(1):checked ~ .carousel {
    --position: 3;
  }
  .team-container .team input:nth-of-type(2) {
    grid-column: 4;
    grid-row: 2;
  }
  .team-container .team input:nth-of-type(2):checked ~ .carousel {
    --position: 5;
  }
  .team-container .team .team-member {
    max-width: 270px;
    margin-left: 25px;
  }
  .team-container .team .team-member__picture {
    height: 131px;
    width: 131px;
    border-radius: 50%;
  }
  .team-container .team .team-member__name {
    font-size: 24px;
    line-height: 34px;
  }
  .team-container .team .team-member__desc {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
  }

  .team-modal {
    width: 613px !important;
  }
}
@media only screen and (min-width: 900px) {
  .team-container .team {
    justify-content: center;
    grid-template-columns: 270px 80px 20px 20px 150px 270px 0;
  }
  .team-container .team input:nth-of-type(2):checked ~ .carousel {
    --position: 5;
  }
}
@media only screen and (min-width: 1200px) {
  .team-container {
    margin-top: 40px;
  }
  .team-container .team {
    justify-content: center;
    margin-top: 50px;
    margin-left: 0;
    grid-template-rows: 379px;
    grid-template-columns: 270px 270px 270px 270px;
  }
  .team-container .team .carousel {
    grid-column: 1/5;
  }
  .team-container .team .carousel .team-member:nth-of-type(1) {
    --offset: 0;
  }
  .team-container .team .carousel .team-member:nth-of-type(2) {
    --offset: 2;
  }
  .team-container .team .carousel .team-member:nth-of-type(3) {
    --offset: 4;
  }
  .team-container .team .carousel .team-member:nth-of-type(4) {
    --offset: 6;
  }
  .team-container .team input {
    display: none;
  }
  .team-container .team .team-member {
    margin: 0;
  }

  .team-modal {
    width: 630px !important;
  }
  .team-modal .modal-close {
    top: 20px !important;
    right: 20px !important;
  }
}
.contact-form-container {
  width: 100%;
  background-color: #252B42;
  color: white;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.contact-form-container__title {
  font-size: 16px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 94px 0 34px 0;
  text-align: center;
}
.contact-form-container__desc {
  line-height: 18px;
  text-align: center;
}
.contact-form-container .contact-form {
  width: 288px;
  margin: 49px 16.5px 78px 15.5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 84px 16px 26px 16px;
  background: #4250BF;
  border-radius: 13.0742px;
}
.contact-form-container .contact-form .input {
  width: 256px;
  height: 46px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 23px;
  box-sizing: border-box;
  color: #576677;
  margin: 0 0 24px 0;
}
.contact-form-container .contact-form .input::placeholder {
  color: #576677;
  font-size: 17px;
}
.contact-form-container .contact-form .input:focus {
  outline: none;
}
.contact-form-container .contact-form .input--email {
  margin-bottom: 0;
}
.contact-form-container .contact-form .checkbox-container {
  margin: 37px 16px 37px 4px;
}
.contact-form-container .contact-form .checkbox-container .checkbox {
  width: 24px;
  height: 24px;
  outline: none;
  margin-right: 8px;
}
.contact-form-container .contact-form .checkbox-container__text {
  font-size: 17px;
}
.contact-form-container .contact-form .button {
  margin: 0;
  padding: 14px 28px 13px 28px;
  border-radius: 23px;
}

@media only screen and (min-width: 768px) {
  .contact-form-container {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form-container__title {
    margin-left: 12px;
  }
  .contact-form-container__desc {
    font-size: 18px;
    line-height: 24px;
  }
  .contact-form-container .contact-form {
    margin-bottom: 79px;
    width: 401px;
    padding: 84px 41px 26px 41px;
    margin-left: 192px;
    margin-right: 175px;
  }
  .contact-form-container .contact-form .input {
    width: 319px;
  }
  .contact-form-container .contact-form .checkbox-container {
    margin: 37px 16px 37px 4px;
  }
}
@media only screen and (min-width: 1440px) {
  .contact-form-container {
    margin-top: 83px;
  }
}
.contact-us {
  background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
  padding: 32px 16px 34px 16px;
}
.contact-us__logo {
  height: 22px;
  width: 55px;
  margin-bottom: 5px;
  background-image: url("../assets/logo/dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contact-us .content {
  flex-direction: column;
}
.contact-us .content__title {
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #263396;
  margin-bottom: 11px;
  line-height: 34px;
  font-family: "Sen";
}
.contact-us .content__link {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  text-decoration-line: underline;
  color: #0F81FF;
  margin-bottom: 40px;
}
.contact-us .content .button {
  margin: 0;
  padding: 14px 44px 13px 44px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
  }

  .contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 32px 15px 34px 15px;
    margin-top: 8px;
  }
  .contact-us__logo {
    background-image: url("../assets/logo/Light.png");
    width: 96px;
    height: 39px;
  }
  .contact-us .content {
    display: grid;
    justify-items: center;
    width: 67%;
    grid-template-rows: 20px 40px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  .contact-us .content__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
  .contact-us .content__link {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    margin-top: 14px;
  }
  .contact-us .content .button {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .contact-us {
    padding: 20px 135px 47px 137px;
  }
  .contact-us .content {
    width: 67%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 16px;
  gap: 16px;
  font-size: 12px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .footer__info:not(:last-child) {
    border-right: 2px solid #9CA4C7;
    padding-right: 20px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 300px 47px 300px;
  }
}
.button {
  cursor: pointer;
  background-color: #38A5DB;
  border-radius: 23px;
  border: none;
  color: white;
  padding: 14px 105px 13px 105px;
  text-decoration: none;
  font-size: 17px;
  margin: 8px 16px 8px 17px;
}

.input {
  width: 287px;
  height: 46px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  color: #576677;
  margin: 11px 16px 8px 17px;
}
.input::placeholder {
  color: #576677;
  font-family: Sen;
  font-size: 17px;
}
.input:focus {
  outline: none;
}

.media-container {
  bottom: 0;
  z-index: 99;
  position: fixed;
  right: 26px;
}
.media-container .media {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63C7FF;
  margin-bottom: 9px;
}
.media-container .media .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media only screen and (min-width: 720px) {
  .media-container {
    font-size: 22px;
    right: 15px;
  }
  .media-container .media {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .media-container {
    font-size: 22px;
    bottom: 195px;
    z-index: 99;
    right: 95px;
  }
}

/*# sourceMappingURL=main.css.map */
